.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #121212;
    color: #fff;
    padding: 10px 20px;
    
}

.logo-image {
    margin-left: 20px;
    height: 40px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
}